.navbar{
    background: #452179;
}
.navbar .container-fluid .navbar-brand{
    color: #FFFFFF;
    font-style: italic;
    font-weight: 500;
    transition: .7s;
}
.navbar .container-fluid .navbar-brand:hover{
    color: #a0a0a0;
    font-style: italic;
    font-weight: 500;
}
.navbar .container-fluid .navbar-toggler{
    color: transparent;
    border: none;
    transition: .7s;
}
.navbar .container-fluid .navbar-text{
    color: #cd669a;
    font-size: 1.5rem;
    font-weight: 500;
}
.navbar .container-fluid .nav-link{
    color: #FFFFFF;
    font-weight: 500;
    transition: .7s;
}
.navbar .container-fluid .nav-link:hover{
    color: #626262;
    font-weight: 500;
    font-style: italic;
}