#container{
    background: transparent;
    text-align: left;
    padding: 3rem;
}
#container h1{
    color: #FFF;
    font-size: 7rem;
    font-weight: 700;
    /* display: flex; */
    padding-left: 6rem;
    text-align: left;
    transition: .2s;
    transition-delay: 3ms;
}
#Ccontainer .name2{
    display: flex;
    width: 20%;
}
#container h1:hover{
    color: #88eed0;
    animation: pulse 1s ease-in-out;
}
@keyframes pulse{
    0%{
        color: #88eed0;
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    /* 50%{
        color: #88eed0;
        -moz-transform: scale(1.06);
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
    } */
    15%{
        color: #88eed0;
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    25%{
        color: #88eed0;
        -moz-transform: scale(1.06);
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
    }
    35%{
        color: #88eed0;
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    50%{
        color: #88eed0;
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    65%{
        color: #88eed0;
        -moz-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
    75%{
        color: #88eed0;
        -moz-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
    85%{
        color: #88eed0;
        -moz-transform: scale(0.99);
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
    100%{
        color: #88eed0;
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
#container  #job{
    font-size: 1.6rem;
    color: #c3c3c3;
    margin-left: 6.5rem;
}