#AContainer{
    background: #111111;
    color: #FFF;
    padding: 4rem;
    text-align: left;
    margin-top: 6rem;
}
#AContainer h1{
    color: #5c83b4;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 4rem;
}
#AContainer .text{
    font-size: 1.2rem;
    font-weight: 500;
    width: 60%;
}